[submodule "extern/utilslibrary"]
	path = extern/utilslibrary
	url = https://github.com/fpuma/UtilsLibrary.git
[submodule "extern/timelibrary"]
	path = extern/timelibrary
	url = https://github.com/fpuma/TimeLibrary.git
[submodule "extern/logger"]
	path = extern/logger
	url = https://github.com/fpuma/Logger.git
[submodule "extern/nina"]
	path = extern/nina
	url = https://github.com/fpuma/Nina.git
[submodule "extern/leo"]
	path = extern/leo
	url = https://github.com/fpuma/Leo.git
[submodule "extern/pina"]
	path = extern/pina
	url = https://github.com/fpuma/Pina.git
