[submodule "extern/utilslibrary"]
	path = extern/utilslibrary
	url = https://github.com/fpuma/UtilsLibrary.git
[submodule "extern/timelibrary"]
	path = extern/timelibrary
	url = https://github.com/fpuma/TimeLibrary.git
[submodule "extern/gfx2dappmodule"]
	path = extern/gfx2dappmodule
	url = https://github.com/fpuma/Gfx2dAppModule.git
[submodule "extern/logger"]
	path = extern/logger
	url = https://github.com/fpuma/Logger.git
